@font-face {
  font-family: "BBC Nassim";
  src: url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.eot");
  src: url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf06ab73abe5f7e12ef86c55aff78123.svg#BBC Nassim") format("svg");
  font-family: "YekanWeb-Regular";
}

$pure-black: #000000;
$black-100: #222;
$black-200: #383838;
$black-300: #0f0f0f;

$gray-100: #656565;
$gray-200: #dedede;
$gray-300: #333;
$gray-400: #989898;
$gray-500: #444444;
$gray-600: #c5c5c5;
$gray-700: #666666;
$gray-800: #717171;
$gray-900: #4e4e4e;

$bg-white: #f2f2f2;
$white-100: #ffffff;
$white-200: #e8e8e8;
$white-300: #f5f5f5;
$white-400: #e0e0e0;

$main-red: #bb0000;
$red-hover: #b71818;
$red-100: #b01927;
$red-200: #92191f;
$red-300: #b01927;
$red-400: #cc0000;
$red-500: #ff3131;
$red-600: #b71818;

$orange-100: #ff8c00;

$blue-100: #254d6b;
$blue-200: #0040ad;

$table-hover: #fff0e5;

$purpule-100: #483d8b;

$green-100: #228b22;

$pink-100: #c71583;
