:root,
.row {
  --bs-gutter-x: 1rem;
}
.navbar {
  --bs-navbar-padding-y: 0.25rem;
}
// .nav-tabs {
//   .nav-link {
//     border: none !important;
//   }
// }
$grid-gutter-width: 1.5rem;
$bs-gutter-x: 1rem;
$grid-gutter-x: 1rem;
$spacer: 1rem;
$gutters: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
@import "bootstrap";
@import "colors";
@import "mystyles";
@import "mediaquery";
